MONGODB_URI=mongodb+srv://loluwa06_db_user:6ErARfoS88n47V56@cluster0.qyp1xg0.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=worklance
IPFS_API_URL=http://127.0.0.1:5001/api/v0/add
IPFS_GATEWAY_BASE=https://ipfs.io/ipfs
PORT=4000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=loluwa06@gmail.com
SMTP_PASS= qichvhcdnrveumfa
SMTP_FROM=loluwa06@gmail.com
